<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Name..." />
  <div class="invalid-feedback" *ngIf="f.name.touched && f.name.errors">
    <small *ngIf="f.name.errors?.required"> Name không được để trống</small>
  </div>

  <app-custom-input-dropdown
    formControlName="role"
    [placehoder]="'Role...'"
    [listItem]="[
      { id: 1, name: 'Jason' },
      { id: 2, name: 'Emily' },
      { id: 3, name: 'Ariana' }
    ]"
    [isDisabled]="false"
  ></app-custom-input-dropdown>
  <div class="invalid-feedback" *ngIf="f.role.touched && f.role.errors">
    <small *ngIf="f.role.errors?.required"> custom-input-dropdown không được để trống</small>
  </div>

  <button type="submit">Submit</button>
</form>
